@import 'font.css';
@import 'colors.css';
@import 'light.css';

:root {
  /* Spacings */
  --spacing: 1rem;
  --typography-spacing-vertical: 1.5rem;
  
  /* Borders */
  --border-radius: 1.5rem;
  --border-width: 1px;
  --outline-width: 3px;

  /* Spacings for typography elements */
	--typography-spacing-vertical: 0.5rem;

  /* Spacings for body > header, body > main, body > footer, section, article */
  --block-spacing-vertical: calc(var(--spacing) * 2);
  --block-spacing-horizontal: var(--spacing);

  /* Spacings for form elements and button */
  --form-element-spacing-vertical: 0.75rem;
  --form-element-spacing-horizontal: 0.75rem;
  --form-element-spacing-horizontal-rounded: 1.5rem;

  /* Spacings for nav component */
  --nav-element-spacing-vertical: 1rem;
  --nav-element-spacing-horizontal: 0.5rem;
  --nav-link-spacing-vertical: 0.5rem;
  --nav-link-spacing-horizontal: 0.5rem;
  --nav-link-spacing-horizontal-rounded: 1rem;

  /* Font weight for form labels & fieldsets legend */
  --form-label-font-weight: var(--font-weight);

  /* Transitions */
  --transition-duration: 0.2s;
  --transition-ease: ease-in-out;
  --transition: var(--transition-duration) var(--transition-ease);

  /* Modal (<dialog>) */
  --modal-overlay-backdrop-filter: blur(0.25rem);
}

html {
	scroll-behavior: smooth;
}

a {
  --text-decoration: none;

  &.secondary, &.contrast {
    --text-decoration: underline;
  }
}

small {
  font-size: 0.875em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --font-weight: 400;
  letter-spacing: -0.01em;
}

h1 {
  --font-size: 2rem;
	--typography-spacing-vertical: 1.5rem;
}

h2 {
  --font-size: 1.75rem;
	--typography-spacing-vertical: 1rem;
}

h3 {
  --font-size: 1.5rem;
  --typography-spacing-vertical: 2.25rem;
}

h4 {
  --font-size: 1.25rem;
  --typography-spacing-vertical: 1.874rem;
}

h5 {
  --font-size: 1.125rem;
  --typography-spacing-vertical: 1.6875rem;
}

progress,
[type="checkbox"],
[type="radio"],
[type="range"] {
  accent-color: var(--primary);
}