/**
* Nav
*/

/* // Reboot based on :
// - sanitize.css v13.0.0 | CC0 1.0 Universal | github.com/csstools/sanitize.css

// Prevent VoiceOver from ignoring list semantics in Safari (opinionated) */
:where(nav li)::before {
	float: left;
	content: '\200B';
}

/* // Pico
// ––––––––––––––––––––

// Horizontal Nav */
nav,
nav ul {
	display: flex;
}

nav {
	justify-content: space-between;
	gap: var(--spacing);
	align-items: center;

	& ol,
	& ul {
		align-items: center;
		display: flex;
		gap: var(--spacing);
		/* margin-bottom: 0; */
		padding: 0;
	}

	& li {
		list-style: none;
		margin: 0;
		align-items: center;
		display: flex;
	}

	:where(a, [role='link']):not(button, [role='button']) {
		display: inline-block;
		/* Inverted margin to show nice :outline box */
		margin: calc(var(--spacing-050) * -1) calc(var(--spacing-050) * -1);
		padding: var(--spacing-050) var(--spacing-050);
		border-radius: var(--border-radius);
		text-decoration: none;
		color: inherit;

		&:is([aria-current], :hover, :active, :focus) {
			text-decoration: none;
		}
	}

	&[aria-label='breadcrumb'] {
		& ul li {
			position: relative;

			&:not(:first-child) {
				margin-inline-start: var(--spacing-050);
			}

			&:not(:last-child) {
				&::after {
					position: absolute;
					width: var(--spacing-150);
					margin-inline-start: var(--spacing-100);
					content: '/';
					color: var(--grey-300);
					text-align: center;
					left: 100%;
				}
			}
		}

		& a[aria-current] {
			background-color: transparent;
			color: inherit;
			text-decoration: none;
			pointer-events: none;
		}
	}

	/* // Minimal support for role="button" */
	[role='button'] {
		margin-right: inherit;
		margin-left: inherit;
		margin-block: 0;
		padding: var(--spacing-050) calc(var(--spacing-050) * 2);
	}
}

/* // Vertical Nav */
aside {
	& nav,
	& ol,
	& ul,
	& li {
		display: block;
	}

	& li {
		padding: calc(var(--spacing) * 0.5) var(--spacing-050);

		& a {
			display: block;
		}

		/* // Minimal support for links as buttons */
		& [role='button'],
		& button {
			margin: inherit;
		}
	}
}

/* // Breadcrumb RTL */
[dir='rtl'] {
	& nav {
		&[aria-label='breadcrumb'] {
			& ul li {
				&:not(:last-child) {
					::after {
						content: '\\';
					}
				}
			}
		}
	}
}
