button {
	margin: 0;
	overflow: visible;
	font-family: inherit;
	text-transform: none;
}

/* Correct the inability to style buttons in iOS and Safari */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
	appearance: button;
	white-space: nowrap;
}

button {
	display: block;
	margin-bottom: var(--spacing);
}

[role="button"] {
	display: inline-block;
	text-decoration: none;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"],
[role="button"] {
	--background-color: var(--primary);
	--border-color: var(--primary);
	--color: var(--primary-inverse);
	--box-shadow: var(--button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
	padding: var(--form-element-spacing-vertical)
		var(--form-element-spacing-horizontal-rounded);
	border: var(--border-width) solid var(--border-color);
	border-radius: var(--border-radius);
	outline: none;
	background-color: var(--background-color);
	box-shadow: var(--box-shadow);
	color: var(--color);
	font-weight: var(--font-weight);
	font-size: 1rem;
	line-height: var(--line-height);
	letter-spacing: 0.02em;
	text-align: center;
	cursor: pointer;

	transition: background-color var(--transition),
		border-color var(--transition), color var(--transition),
		box-shadow var(--transition);

	&:is([aria-current], :hover, :active, :focus) {
		--background-color: var(--primary-hover);
		--border-color: var(--primary-hover);
		--box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
		--color: var(--primary-inverse);
	}

	&:focus {
		--box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
			0 0 0 var(--outline-width) var(--primary-focus);
	}
}

/* // .secondary, .contrast & .outline */

/* // Secondary */
:is(button, input[type="submit"], input[type="button"], [role="button"]).secondary,
input[type="reset"] {
	--background-color: var(--secondary);
	--border-color: var(--secondary);
	--color: var(--secondary-inverse);
	cursor: pointer;

	&:is([aria-current], :hover, :active, :focus) {
		--background-color: var(--secondary-hover);
		--border-color: var(--secondary-hover);
		--color: var(--secondary-inverse);
	}

	&:focus {
		--box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
			0 0 0 var(--outline-width) var(--secondary-focus);
	}
}

/* // Contrast */
:is(button, input[type="submit"], input[type="button"], [role="button"]).contrast {
	--background-color: var(--contrast);
	--border-color: var(--contrast);
	--color: var(--contrast-inverse);

	&:is([aria-current], :hover, :active, :focus) {
		--background-color: var(--contrast-hover);
		--border-color: var(--contrast-hover);
		--color: var(--contrast-inverse);
	}

	&:focus {
		--box-shadow: var(--button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),
			0 0 0 var(--outline-width) var(--contrast-focus);
	}
}

/* // Outline (primary) */
:is(button, input[type="submit"], input[type="button"], [role="button"]).outline,
input[type="reset"].outline {
	--background-color: transparent;
	--color: var(--primary);

	&:is([aria-current], :hover, :active, :focus) {
		--background-color: transparent;
		--color: var(--primary-hover);
	}
}

/* // Outline (secondary) */
:is(button, input[type="submit"], input[type="button"], [role="button"]).outline.secondary,
input[type="reset"].outline {
	--color: var(--secondary);

	&:is([aria-current], :hover, :active, :focus) {
		--color: var(--secondary-hover);
	}
}

/* // Outline (contrast) */
:is(button, input[type="submit"], input[type="button"], [role="button"]).outline.contrast {
	--color: var(--contrast);

	&:is([aria-current], :hover, :active, :focus) {
		--color: var(--contrast-hover);
	}
}

/* // Button [disabled] */
/* // Links without href are disabled by default */
:where(button, [type="submit"], [type="button"], [type="reset"], [role="button"])[disabled],
:where(fieldset[disabled]) :is(button, [type="submit"], [type="button"], [type="reset"], [role="button"]),
a[role="button"]:not([href]) {
	opacity: 0.5;
	pointer-events: none;
}


small[role='button'] {
	/* padding: 0.5rem; */
	font-size: 0.5em;
	padding: calc(var(--form-element-spacing-vertical) * 0.25)
		calc(var(--form-element-spacing-horizontal-rounded) * 0.33);
	vertical-align: middle;
}