
/**
* Container
*/

.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}

.container {
  padding-inline: calc(var(--spacing) * 1);
}

@media (min-width: 576px) {
  .container {
    padding-inline: calc(var(--spacing) * 2);
  }
}

@media (min-width: 992px) {
  .container {
    padding-inline: calc(var(--spacing) * 4);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding-inline: calc(var(--spacing) * 1);
  }
}