body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	box-sizing: border-box;
	margin: 0;
	/* padding: 1rem; */
}

main {
	flex-grow: 1;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1.5rem;
}

small[role='button'] {
	/* padding: 0.5rem; */
	font-size: 0.5em;
	padding: calc(var(--form-element-spacing-vertical) * 0.25)
		calc(var(--form-element-spacing-horizontal-rounded) * 0.33);
	vertical-align: middle;
}
